<div [ngStyle]="mapDivStyle()">
<div class='lgr_col'>
  <div class='lgr_05 col_01'><span class='blue' id='text1'>Tran:</span>  </div>
  <div class='lgr_04 col_07'><dynamic-field [id]='"trnname"' [size]=4 [line]=1 [column]=7 [(ngModel)]='trnname'></dynamic-field></div>
  <div class='lgr_40 col_21'><dynamic-field [id]='"title01"' [size]=40 [line]=1 [column]=21 [(ngModel)]='title01'></dynamic-field></div>
  <div class='lgr_05 col_65'><span class='blue' id='text2'>Date:</span>  </div>
  <div class='lgr_08 col_71'><dynamic-field [id]='"curdate"' [size]=8 [line]=1 [column]=71 [(ngModel)]='curdate'></dynamic-field></div>
</div>
<div class='lgr_col'>
  <div class='lgr_05 col_01'><span class='blue' id='text3'>Prog:</span>  </div>
  <div class='lgr_08 col_07'><dynamic-field [id]='"pgmname"' [size]=8 [line]=2 [column]=7 [(ngModel)]='pgmname'></dynamic-field></div>
  <div class='lgr_40 col_21'><dynamic-field [id]='"title02"' [size]=40 [line]=2 [column]=21 [(ngModel)]='title02'></dynamic-field></div>
  <div class='lgr_05 col_65'><span class='blue' id='text4'>Time:</span>  </div>
  <div class='lgr_08 col_71'><dynamic-field [id]='"curtime"' [size]=8 [line]=2 [column]=71 [(ngModel)]='curtime'></dynamic-field></div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_12 col_35'><span class='brt high neutral' id='text5'>Bill Payment</span>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_14 col_06'><span class='green' id='text6'>Enter Acct ID:</span>  </div>
  <div class='lgr_11 col_21'><dynamic-field [id]='"actidin"' [size]=11 [line]=6 [column]=21 [(ngModel)]='actidin'></dynamic-field></div>
  <div class='lgr_00 col_33'>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_70 col_06'><span class='yellow' id='text8'>----------------------------------------------------------------------</span>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_25 col_06'><span class='turquoise' id='text9'>Your current balance is: </span>  </div>
  <div class='lgr_14 col_32'><dynamic-field [id]='"curbal"' [size]=14 [line]=11 [column]=32 [(ngModel)]='curbal'></dynamic-field></div>
  <div class='lgr_00 col_47'>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_53 col_06'><span class='turquoise' id='text11'>Do you want to pay your balance now. Please confirm: </span>  </div>
  <div class='lgr_01 col_60'><dynamic-field [id]='"confirm"' [size]=1 [line]=15 [column]=60 [(ngModel)]='confirm'></dynamic-field></div>
  <div class='lgr_00 col_62'>  </div>
  <div class='lgr_05 col_63'><span class='neutral' id='text13'>(Y/N)</span>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_78 col_01'><dynamic-field [id]='"errmsg"' [size]=78 [line]=23 [column]=1 [(ngModel)]='errmsg'></dynamic-field></div>
</div>
<div class='lgr_col'>
  <div class='lgr_33 col_01'><span class='yellow' id='text14'>ENTER=Continue  F3=Back  F4=Clear</span>  </div>
</div>
</div>
