<div [ngStyle]="mapDivStyle()">
<div class='lgr_col'>
  <div class='lgr_05 col_01'><span class='blue' id='text1'>Tran:</span>  </div>
  <div class='lgr_04 col_07'><dynamic-field [id]='"trnname"' [size]=4 [line]=1 [column]=7 [(ngModel)]='trnname'></dynamic-field></div>
  <div class='lgr_40 col_21'><dynamic-field [id]='"title01"' [size]=40 [line]=1 [column]=21 [(ngModel)]='title01'></dynamic-field></div>
  <div class='lgr_05 col_65'><span class='blue' id='text2'>Date:</span>  </div>
  <div class='lgr_08 col_71'><dynamic-field [id]='"curdate"' [size]=8 [line]=1 [column]=71 [(ngModel)]='curdate'></dynamic-field></div>
</div>
<div class='lgr_col'>
  <div class='lgr_05 col_01'><span class='blue' id='text3'>Prog:</span>  </div>
  <div class='lgr_08 col_07'><dynamic-field [id]='"pgmname"' [size]=8 [line]=2 [column]=7 [(ngModel)]='pgmname'></dynamic-field></div>
  <div class='lgr_40 col_21'><dynamic-field [id]='"title02"' [size]=40 [line]=2 [column]=21 [(ngModel)]='title02'></dynamic-field></div>
  <div class='lgr_05 col_65'><span class='blue' id='text4'>Time:</span>  </div>
  <div class='lgr_08 col_71'><dynamic-field [id]='"curtime"' [size]=8 [line]=2 [column]=71 [(ngModel)]='curtime'></dynamic-field></div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_26 col_30'><span class='neutral' id='text5'>Update Credit Card Details</span>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_19 col_23'><span class='turquoise' id='text6'>Account Number    :</span>  </div>
  <div class='lgr_11 col_45'><dynamic-field [id]='"acctsid"' [size]=11 [line]=7 [column]=45 [(ngModel)]='acctsid'></dynamic-field></div>
  <div class='lgr_00 col_57'>  </div>
</div>
<div class='lgr_col'>
  <div class='lgr_19 col_23'><span class='turquoise' id='text8'>Card Number       :</span>  </div>
  <div class='lgr_16 col_45'><dynamic-field [id]='"cardsid"' [size]=16 [line]=8 [column]=45 [(ngModel)]='cardsid'></dynamic-field></div>
  <div class='lgr_00 col_62'>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_19 col_04'><span class='turquoise' id='text10'>Name on card      :</span>  </div>
  <div class='lgr_50 col_25'><dynamic-field [id]='"crdname"' [size]=50 [line]=11 [column]=25 [(ngModel)]='crdname'></dynamic-field></div>
  <div class='lgr_00 col_76'>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_20 col_04'><span class='turquoise' id='text12'>Card Active Y/N   : </span>  </div>
  <div class='lgr_01 col_25'><dynamic-field [id]='"crdstcd"' [size]=1 [line]=13 [column]=25 [(ngModel)]='crdstcd'></dynamic-field></div>
  <div class='lgr_00 col_27'>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_20 col_04'><span class='turquoise' id='text14'>Expiry Date       : </span>  </div>
  <div class='lgr_02 col_25'><dynamic-field [id]='"expmon"' [size]=2 [line]=15 [column]=25 [(ngModel)]='expmon'></dynamic-field></div>
  <div class='lgr_01 col_28'><span class='default' id='text15'>/</span>  </div>
  <div class='lgr_04 col_30'><dynamic-field [id]='"expyear"' [size]=4 [line]=15 [column]=30 [(ngModel)]='expyear'></dynamic-field></div>
  <div class='lgr_00 col_35'>  </div>
  <div class='lgr_02 col_36'><dynamic-field [id]='"expday"' [size]=2 [line]=15 [column]=36 [(ngModel)]='expday'></dynamic-field></div>
  <div class='lgr_00 col_39'>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_40 col_25'><dynamic-field [id]='"infomsg"' [size]=40 [line]=20 [column]=25 [(ngModel)]='infomsg'></dynamic-field></div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_80 col_01'><dynamic-field [id]='"errmsg"' [size]=80 [line]=23 [column]=1 [(ngModel)]='errmsg'></dynamic-field></div>
</div>
<div class='lgr_col'>
  <div class='lgr_21 col_01'><dynamic-field [id]='"fkeys"' [size]=21 [line]=24 [column]=1 [(ngModel)]='fkeys'></dynamic-field></div>
  <div class='lgr_18 col_23'><dynamic-field [id]='"fkeysc"' [size]=18 [line]=24 [column]=23 [(ngModel)]='fkeysc'></dynamic-field></div>
</div>
</div>
