<div [ngStyle]="mapDivStyle()">
<div class='lgr_col'>
  <div class='lgr_05 col_01'><span class='blue' id='text1'>Tran:</span>  </div>
  <div class='lgr_04 col_07'><dynamic-field [id]='"trnname"' [size]=4 [line]=1 [column]=7 [(ngModel)]='trnname'></dynamic-field></div>
  <div class='lgr_40 col_21'><dynamic-field [id]='"title01"' [size]=40 [line]=1 [column]=21 [(ngModel)]='title01'></dynamic-field></div>
  <div class='lgr_05 col_65'><span class='blue' id='text2'>Date:</span>  </div>
  <div class='lgr_08 col_71'><dynamic-field [id]='"curdate"' [size]=8 [line]=1 [column]=71 [(ngModel)]='curdate'></dynamic-field></div>
</div>
<div class='lgr_col'>
  <div class='lgr_05 col_01'><span class='blue' id='text3'>Prog:</span>  </div>
  <div class='lgr_08 col_07'><dynamic-field [id]='"pgmname"' [size]=8 [line]=2 [column]=7 [(ngModel)]='pgmname'></dynamic-field></div>
  <div class='lgr_40 col_21'><dynamic-field [id]='"title02"' [size]=40 [line]=2 [column]=21 [(ngModel)]='title02'></dynamic-field></div>
  <div class='lgr_05 col_65'><span class='blue' id='text4'>Time:</span>  </div>
  <div class='lgr_08 col_71'><dynamic-field [id]='"curtime"' [size]=8 [line]=2 [column]=71 [(ngModel)]='curtime'></dynamic-field></div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_19 col_30'><span class='brt high neutral' id='text5'>Transaction Reports</span>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_01 col_10'><dynamic-field [id]='"monthly"' [size]=1 [line]=7 [column]=10 [(ngModel)]='monthly'></dynamic-field></div>
  <div class='lgr_00 col_12'>  </div>
  <div class='lgr_23 col_15'><span class='brt high turquoise' id='text7'>Monthly (Current Month)</span>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_01 col_10'><dynamic-field [id]='"yearly"' [size]=1 [line]=9 [column]=10 [(ngModel)]='yearly'></dynamic-field></div>
  <div class='lgr_00 col_12'>  </div>
  <div class='lgr_21 col_15'><span class='brt high turquoise' id='text9'>Yearly (Current Year)</span>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_01 col_10'><dynamic-field [id]='"custom"' [size]=1 [line]=11 [column]=10 [(ngModel)]='custom'></dynamic-field></div>
  <div class='lgr_00 col_12'>  </div>
  <div class='lgr_19 col_15'><span class='brt high turquoise' id='text11'>Custom (Date Range)</span>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_12 col_15'><span class='turquoise' id='text12'>Start Date :</span>  </div>
  <div class='lgr_02 col_29'><dynamic-field [id]='"sdtmm"' [size]=2 [line]=13 [column]=29 [(ngModel)]='sdtmm'></dynamic-field></div>
  <div class='lgr_01 col_32'><span class='blue' id='text13'>/</span>  </div>
  <div class='lgr_02 col_34'><dynamic-field [id]='"sdtdd"' [size]=2 [line]=13 [column]=34 [(ngModel)]='sdtdd'></dynamic-field></div>
  <div class='lgr_01 col_37'><span class='blue' id='text14'>/</span>  </div>
  <div class='lgr_04 col_39'><dynamic-field [id]='"sdtyyyy"' [size]=4 [line]=13 [column]=39 [(ngModel)]='sdtyyyy'></dynamic-field></div>
  <div class='lgr_00 col_44'>  </div>
  <div class='lgr_12 col_46'><span class='blue' id='text16'>(MM/DD/YYYY)</span>  </div>
</div>
<div class='lgr_col'>
  <div class='lgr_12 col_15'><span class='turquoise' id='text17'>  End Date :</span>  </div>
  <div class='lgr_02 col_29'><dynamic-field [id]='"edtmm"' [size]=2 [line]=14 [column]=29 [(ngModel)]='edtmm'></dynamic-field></div>
  <div class='lgr_01 col_32'><span class='blue' id='text18'>/</span>  </div>
  <div class='lgr_02 col_34'><dynamic-field [id]='"edtdd"' [size]=2 [line]=14 [column]=34 [(ngModel)]='edtdd'></dynamic-field></div>
  <div class='lgr_01 col_37'><span class='blue' id='text19'>/</span>  </div>
  <div class='lgr_04 col_39'><dynamic-field [id]='"edtyyyy"' [size]=4 [line]=14 [column]=39 [(ngModel)]='edtyyyy'></dynamic-field></div>
  <div class='lgr_00 col_44'>  </div>
  <div class='lgr_12 col_46'><span class='blue' id='text21'>(MM/DD/YYYY)</span>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_59 col_06'><span class='turquoise' id='text22'>The Report will be submitted for printing. Please confirm: </span>  </div>
  <div class='lgr_01 col_66'><dynamic-field [id]='"confirm"' [size]=1 [line]=19 [column]=66 [(ngModel)]='confirm'></dynamic-field></div>
  <div class='lgr_00 col_68'>  </div>
  <div class='lgr_05 col_69'><span class='neutral' id='text24'>(Y/N)</span>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_78 col_01'><dynamic-field [id]='"errmsg"' [size]=78 [line]=23 [column]=1 [(ngModel)]='errmsg'></dynamic-field></div>
</div>
<div class='lgr_col'>
  <div class='lgr_23 col_01'><span class='yellow' id='text25'>ENTER=Continue  F3=Back</span>  </div>
</div>
</div>
