<div [ngStyle]="mapDivStyle()">
<div class='lgr_col'>
  <div class='lgr_06 col_01'><span class='blue' id='text1'>Tran :</span>  </div>
  <div class='lgr_04 col_08'><dynamic-field [id]='"trnname"' [size]=4 [line]=1 [column]=8 [(ngModel)]='trnname'></dynamic-field></div>
  <div class='lgr_40 col_21'><dynamic-field [id]='"title01"' [size]=40 [line]=1 [column]=21 [(ngModel)]='title01'></dynamic-field></div>
  <div class='lgr_06 col_64'><span class='blue' id='text2'>Date :</span>  </div>
  <div class='lgr_08 col_71'><dynamic-field [id]='"curdate"' [size]=8 [line]=1 [column]=71 [(ngModel)]='curdate'></dynamic-field></div>
</div>
<div class='lgr_col'>
  <div class='lgr_06 col_01'><span class='blue' id='text3'>Prog :</span>  </div>
  <div class='lgr_08 col_08'><dynamic-field [id]='"pgmname"' [size]=8 [line]=2 [column]=8 [(ngModel)]='pgmname'></dynamic-field></div>
  <div class='lgr_40 col_21'><dynamic-field [id]='"title02"' [size]=40 [line]=2 [column]=21 [(ngModel)]='title02'></dynamic-field></div>
  <div class='lgr_06 col_64'><span class='blue' id='text4'>Time :</span>  </div>
  <div class='lgr_09 col_71'><dynamic-field [id]='"curtime"' [size]=9 [line]=2 [column]=71 [(ngModel)]='curtime'></dynamic-field></div>
</div>
<div class='lgr_col'>
  <div class='lgr_06 col_01'><span class='blue' id='text5'>AppID:</span>  </div>
  <div class='lgr_08 col_08'><dynamic-field [id]='"applid"' [size]=8 [line]=3 [column]=8 [(ngModel)]='applid'></dynamic-field></div>
  <div class='lgr_06 col_64'><span class='blue' id='text6'>SysID:</span>  </div>
  <div class='lgr_08 col_71'><dynamic-field [id]='"sysid"' [size]=8 [line]=3 [column]=71 [(ngModel)]='sysid'></dynamic-field></div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_66 col_06'><span class='neutral' id='text7'>This is a Credit Card Demo Application for Mainframe Modernization</span>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_42 col_21'><span class='blue' id='text8'>+========================================+</span>  </div>
</div>
<div class='lgr_col'>
  <div class='lgr_42 col_21'><span class='blue' id='text9'>|%%%%%%%  NATIONAL RESERVE NOTE  %%%%%%%%|</span>  </div>
</div>
<div class='lgr_col'>
  <div class='lgr_42 col_21'><span class='blue' id='text10'>|%(1)  THE UNITED STATES OF KICSLAND (1)%|</span>  </div>
</div>
<div class='lgr_col'>
  <div class='lgr_42 col_21'><span class='blue' id='text11'>|%$$              ___       ********  $$%|</span>  </div>
</div>
<div class='lgr_col'>
  <div class='lgr_42 col_21'><span class='blue' id='text12'>|%$    {{ '{' }}x{{ '}' }}       (o o)                 $%|</span>  </div>
</div>
<div class='lgr_col'>
  <div class='lgr_42 col_21'><span class='blue' id='text13'>|%$     ******  (  V  )      O N E     $%|</span>  </div>
</div>
<div class='lgr_col'>
  <div class='lgr_42 col_21'><span class='blue' id='text14'>|%(1)          ---m-m---             (1)%|</span>  </div>
</div>
<div class='lgr_col'>
  <div class='lgr_42 col_21'><span class='blue' id='text15'>|%%~~~~~~~~~~~ ONE DOLLAR ~~~~~~~~~~~~~%%|</span>  </div>
</div>
<div class='lgr_col'>
  <div class='lgr_42 col_21'><span class='blue' id='text16'>+========================================+</span>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_49 col_16'><span class='turquoise' id='text17'>Type your User ID and Password, then press ENTER:</span>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_13 col_29'><span class='turquoise' id='text18'>User ID     :</span>  </div>
  <div class='lgr_08 col_43'><dynamic-field [id]='"userid"' [size]=8 [line]=19 [column]=43 [(ngModel)]='userid'></dynamic-field></div>
  <div class='lgr_00 col_52'>  </div>
  <div class='lgr_08 col_52'><span class='blue' id='text20'>(8 Char)</span>  </div>
</div>
<div class='lgr_col'>
  <div class='lgr_13 col_29'><span class='turquoise' id='text21'>Password    :</span>  </div>
  <div class='lgr_08 col_43'><dynamic-field [id]='"passwd"' [size]=8 [line]=20 [column]=43 [(ngModel)]='passwd'></dynamic-field></div>
  <div class='lgr_00 col_52'>  </div>
  <div class='lgr_08 col_52'><span class='blue' id='text23'>(8 Char)</span>  </div>
  <div class='lgr_01 col_61'><span class='drk default' id='text24'> </span>  </div>
  <div class='lgr_00 col_63'>  </div>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col empty'>
</div>
<div class='lgr_col'>
  <div class='lgr_78 col_01'><dynamic-field [id]='"errmsg"' [size]=78 [line]=23 [column]=1 [(ngModel)]='errmsg'></dynamic-field></div>
</div>
<div class='lgr_col'>
  <div class='lgr_22 col_01'><span class='yellow' id='text26'>ENTER=Sign-on  F3=Exit</span>  </div>
</div>
</div>
